html[dir = "ltr"]{
    .message {
        input {
            padding: 0 50px 0 25px;
        }
    }
}

footer{
    padding: 90px 0 40px 0;
    a:hover{
        text-decoration: none;
    }
    h4{
        font-size: 17.8px;
        color: $main-color;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
}
.quick-links {
ul li {
    line-height: 32px;
   a{
    font-size: 16px;
    color: #000000;
    text-align: right;
    color: #000000;
    text-transform: capitalize;
    transition: all linear .3s;
    &:hover{
        color: $second-color;
    }
   }
}
}
.quick-drop{
    display: flex;
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact ul {
    display: flex;
    flex-direction: column;
    li{
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        .phone , .envelope , .whatsapp , .location{
            color: $second-color;
            font-size: 20px;
            text-align: center;
        }
        a{
            font-size: 16px;
            margin-inline-start: 15px;
            color: #000000;
            transition: all linear .3s;
            &:hover{
                color: $second-color;
            }
        }
     
    }
}
.newsletter{
    p{
        font-size: 16px;
        margin: 0;
        margin-bottom: 25px;
        
    }
}

.message {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 100%;
    button {
        position: absolute;
        inset-inline-end: 25px;
        transform: translateY(-50%);
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input{
        width: 358px;
        transition: all linear .3s;
        height: 45px;
        max-width: 100%;
        border-radius: 22px;
        background-color: #f5f5f5;
        outline: none !important;
        border: 1px solid transparent;
        color: #a6a6a6;
        padding: 0 25px 0 50px;
        font-size: 16px;
        font-weight: 400;
        ::-webkit-input-placeholder { line-height: 1.4em !important; }
        &::-webkit-input-placeholder{
            color: #a6a6a6;
            font-size: 15px;
        }
        &:focus{
            border-color: $main-color !important;
        }
    }
    .mail-icon{
        color: $main-color;
        font-size: 21px;
    }
}


.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 44px;
        color: #000000;
        margin-bottom: 0;
    }
     a:first-child img{
        width: 45px;
    }
    a:last-child img {
        width: 65px;
        max-width: 100%;
    }
}




@include max-768 {
    .contact ul li .phone, .contact ul li .envelope, .contact ul li .whatsapp, .contact ul li .location{
        font-size: 16px;
    }
    .quick-drop{
        height: auto;
    }
    .contact , .newsletter  , .quick-links {
        padding-bottom: 20px;
        ul li:first-child , .nested{
            padding-top: 10px;
        }
    }
    .quick-links ul li:first-child{
        padding-top: 5px;
    }
    .quick-links ul li a{
        font-size: 14px;
    }
    .contact ul li{
        margin-bottom: 12px;
    }
    footer{
        padding: 50px 0 30px 0;
    }
    .quick-drop , .contact ul , .newsletter .nested{
        display: none;
    }
    .copyright{
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        a{
            margin-bottom: 10px;
        }
    }
    .message input{
       
        &::placeholder{
            font-size: 13px;
        }
    }
    .arrow-rotate::after {
        transform: translateY(-50%) rotate(180deg)  !important;
        top: 10px;
    }
   
    .quick-links ul li{
        font-size: 14px;
    }
    .contact ul li a{
        font-size: 14px;
    }
    .newsletter p{
        font-size: 14px;
    }
    .copyright p{
        text-align: center;
        line-height: 25px;
        font-size: 13px;
    }
    footer h4{
        margin-bottom: 0;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 15px;
        position: relative;
        &::after {
            font-size: 17px;
            content: "\f107";
            transition: all linear .3s;
            font-family: "line Awesome free";
            position: absolute;
            inset-inline-end: 0;
            top: 0;
            

            
        }
    }
}

@media screen and (max-width: 530px) {
    .copyright p{
        order: 5;
    }
}


@include min-768 {
    footer h4 {
        pointer-events: none;
    }
    .contact ul li .phone, .contact ul li .envelope, .contact ul li .whatsapp{
        font-size: 18px;
    }
}


@include max-992 {
    .footerRow{
        justify-content: space-between;
    }
}