//  header
header{
    position: absolute;
    top: 0px;
    inset-inline-end: 0;
    width: 100%;
    z-index: 9 ; 
    background-color: transparent;
    padding: 10px 0;
}
html[dir="ltr"]{
    .lang  , .lang2 {
        span{
            font-size: 13px;
        }
    }
    .search-holder input{
        padding: 0 50px 0 25px;
    }
}
nav{
    transition: all linear .3s;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    a{
        display: block;
        width: 100%;
    }
    img{
        width: 140px;
        max-width: 100%;
    }
}
.lang a , .lang2 a{
    
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     color: #fff;
    transition: all linear .3s;
    &:hover{
        text-decoration: none ;
    }
    img{
      margin-inline-start: 10px;
    }
   
}
.closeSearh-btn{
    i{
        font-size: 25px !important;
    }
    
}

.search-lang-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-ul {
    margin-inline-start: 120px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    li:last-child{
        margin-inline-end: 0;
    }
   > li{
        margin-inline-end: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
          
            font-size: 16px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 500;
            transition: all linear .3s;
            position: relative;
            &:hover{
                text-decoration: none;
                color: $second-color;
            }
        }
    }
}
.search-holder-input{
    position: relative;
    max-width: 100%;
    height: 40px;
    width: 238px;
    border-radius: 20px;
    background-color: #f5f5f5;
}
.search-holder-input input{
    width: 100%;
    color: #a6a6a6;
    height: 100%;
    border: 1px solid transparent;
    display: block;
    border-radius: 20px;
    background-color: #f5f5f5;
    padding: 0 25px 0 50px ;
    outline: none !important;
   transition: all linear .3s;
    &:focus{
        border-color: $second-color;
       outline: none !important;
    }
    &::placeholder{
        color: #a6a6a6;
    }
}
.searchButton{
   font-size: 14px;
   color: $main-color;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   inset-inline-end: 20px;
   i {
    font-size: 18px;
    display: block;
    width: 100% !important;
    height: 100% !important;
    color: $second-color !important;
   
    transform: scaleX(-1);
   }
}

.openNav-btn{
    display: none !important;
    cursor: pointer;
    i {
        font-size: 28px;
        color: $main-color;
       
    }
}
.open-search {
    top: 0 !important;
    transition: all linear .3s !important;
}

.closeNav-btn{
    display: none;
    cursor: pointer;
}
.openSearch-btn{
    cursor: pointer;
    i{
        color: $main-color;
        font-size: 23px;
        transform: scaleX(-1);
    }
}
.close-search {
    display: none;
}
.open-nav{
    inset-inline-start: -100% ;
}

@include max-992 {
  .search-holder{
    width: 100%;
  }
  .logo img{
    width: 110px;
  }
  .header-content {
    flex-wrap: wrap;
  }
  .nav-ul > li a{
    font-size: 16px !important;
  }
}

@include max-768 {
    .nav-ul > li{
        margin-bottom: 20px;
    }
    .lang a img, .lang2 a img{
        margin-inline-start: 5px;
    }
    .openSearch-btn{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    header{
        padding: 7px 0;
        background-color: #ffffff;
        position: static;
    }
    
.showSearch-box{
    display: flex !important;
 }
    .search-holder-parent{
       background-color: rgba($color: $second-color, $alpha: 0.95) ;
        position: fixed;
        display: none;
        justify-content: center;
        align-items: flex-start;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
    .search-holder{
        padding: 30px;
        background-color: transparent;
        justify-content: space-between;
        height: 163px;
         margin:  15px auto 0 auto ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 21%;
        border-radius: 10px;
        i {
            font-size: 21px;
            color: $white-color;
        }
        .search-holder-input{
            transition: all linear .3s !important;
            width: 100%;
            top: -150px;
        }
    }
    
    .search-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .openNav-btn{
        margin-inline-start: 15px;
    }

    .logo img{
        width: 80px;
        max-width: 100%;
    }
     .header-content{
        position: relative;
        width: 100%;
    }
    .openNav-btn{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .header-content >  .lang{
        display: none;
    }
    .banner-overlay{
        display: none;
    }
    nav{
        position: fixed ;
        overflow: auto;
        top: 0 ;
        inset-inline-start: 0%;
        width: 100%;
        z-index: 99;
        height: 100%;
        padding: 25px 35px 0 35px;
        background-color: $white-color;
    }
    .nav-ul{
        flex-direction: column;
        margin: 80px 0 0 0 !important;
        align-items: flex-start;
    }
    .nav-ul > li{
        margin-inline-end: 0;
        justify-content: center;
        width: 100%;
        a{
              display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            color: $main-color;
            &::after{
                height: auto;
            }
        }
    }
    .closeNav-btn{
      display: block;
        i{
            font-size: 24px;
            color: #808080
        }
    }
    .close-search{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .close-lang-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lang2 a img  {
        margin-inline-start: 5px;
    }
    .lang a, .lang2 a{
        color: #808080;
    }
   
}




@include min-768{

 
  
    .closeSearh-btn{
        display: none !important;
    }
    .close-lang-holder{
        display: none;
    }
    .lang2{
        display: none;
    }
    .openSearch-btn{
        display: none !important;
    }
    .contactus{
        margin-inline-end: 0 !important;
    }
}


@media screen and (min-width : 992px) and (max-width:1200px) {
    .nav-ul > li{
        margin-inline-end: 12px;
    }
    .search-holder-input {
        width: 220px;
    }

} 


@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .search-holder-input{
        width: 100%;
    }
   
        .search-section {
            width: 100%;
            order: 5;
            margin-top: 15px;
        }
    
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    .nav-ul > li a{
        font-size: 13px;
    }
}

@include min-1200{
    .lang , .lang2 {
        margin-inline-start: 25px;
    }
    .search-section{
        margin-inline-end: -120px;
    }
    html[dir="ltr"]{
        .search-section{
            margin-inline-end: -80px;
        }
    }
}

@include max-1200{
    .nav-ul{
        margin-inline-start: 0 !important;
    }
}